@import 'bourbon';

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1)
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls {
  display: none !important;
}

body {
  @include display(flex);
  @include flex-direction(column);

  background-color: black;
  box-sizing: border-box;
  color: white;
  font-family: arial, helvetica, sans-serif;
  font-size: 0.7rem;
  min-height: 100vh;
  line-height: 1rem;
  margin: 0;
  padding: 50px;
}

header {
  @include display(flex);
  @include flex(1);
  @include flex-direction(row);
}

footer {
  p {
    margin: 0;
  }
}

video {
  @include transform(translateX(-50%) translateY(-50%));

  background: url(/images/background.jpg) no-repeat;
  background-size: cover;

  height: auto;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 50%;
  width: auto;
  z-index: -100;
}

strong {
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: white;
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bigger {
  font-size: 0.9rem;
}

.blurb {
  @include display(flex);
  @include flex(1);
  @include flex-direction(column);

  img {
    display: block;
    height: 145px;
    margin-bottom: 50px;
    width: auto;
  }

  .top {
    @include display(flex);
  }

  .bottom {
    @include display(flex);
    @include flex-wrap(wrap);
  }

  .spacer {
    height: 145px;
    margin-bottom: 50px;
  }

  .left, .right {
    width: 320px;
    margin-bottom: 20px;
  }

  .right {
    margin-left: 50px;

    @media only screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.contact {
  @include display(flex);

  img {
    height: 35px;
    width: auto;
  }
}
