.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 900; }
  .background.active {
    display: block; }

.product {
  height: auto;
  width: 600px;
  background: #0A0A0A;
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-left: -300px;
  margin-top: -507px;
  z-index: 1000;
  -webkit-transform: translateX(100vw);
  -moz-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  -o-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .product.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .product img {
    height: auto;
    width: 600px; }
  .product h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 16px; }
  .product p {
    margin: 0;
    padding: 0; }
  .product .description {
    margin: 30px; }
    .product .description .space-bottom {
      margin-bottom: 16px; }
    .product .description .big {
      font-size: 1rem; }
    .product .description .italic {
      font-style: italic; }
    .product .description .left {
      margin-right: 15px; }
    .product .description .right {
      margin-left: 15px; }

.inner {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  .inner > .bottom {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
    .inner > .bottom .bottom {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }

@media (max-height: 1000px) {
  .inner {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row; }
    .inner .description {
      margin-left: 0; }
  .product {
    height: 580px;
    width: 1000px;
    top: 50vh;
    left: 50vw;
    margin-left: -500px;
    margin-top: -290px; }
    .product img {
      height: 550px;
      width: auto; } }

* {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1); }

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

video::-webkit-media-controls {
  display: none !important; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  background-color: black;
  box-sizing: border-box;
  color: white;
  font-family: arial, helvetica, sans-serif;
  font-size: 0.7rem;
  min-height: 100vh;
  line-height: 1rem;
  margin: 0;
  padding: 50px; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }

footer {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row; }
  footer .left {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end; }
  footer .right {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 950; }
    footer .right .saveur {
      text-indent: -9999px;
      margin-left: 50px;
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      footer .right .saveur:hover {
        -webkit-transform: translateY(-46px);
        -moz-transform: translateY(-46px);
        -ms-transform: translateY(-46px);
        -o-transform: translateY(-46px);
        transform: translateY(-46px); }
    footer .right .container {
      height: 45px;
      width: auto;
      overflow: hidden; }
    footer .right .febris {
      height: 90px;
      width: 100px;
      background: url(/images/saveurs/saveur-febris.png) no-repeat center center;
      background-size: 100px 90px; }
    footer .right .foo-manchu {
      height: 90px;
      width: 185px;
      background: url(/images/saveurs/saveur-foo-manchu.png) no-repeat center center;
      background-size: 185px 90px; }
    footer .right .saecularis {
      height: 90px;
      width: 177px;
      background: url(/images/saveurs/saveur-saecularis.png) no-repeat center center;
      background-size: 177px 90px; }
  footer p {
    margin: 0; }

video {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  height: auto;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 50%;
  width: auto;
  z-index: -100; }

strong {
  font-weight: bold;
  text-transform: uppercase; }

a {
  color: white;
  display: inline-block;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.bigger {
  font-size: 0.9rem; }

.blurb {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }
  .blurb img {
    display: block;
    height: 145px;
    margin-bottom: 50px;
    width: auto; }
  .blurb .top {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .blurb .bottom {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .blurb .spacer {
    height: 145px;
    margin-bottom: 50px; }
  .blurb .left, .blurb .right {
    width: 320px;
    margin-bottom: 20px; }
  .blurb .right {
    margin-left: 50px; }
    @media only screen and (max-width: 768px) {
      .blurb .right {
        margin-left: 0; } }

.contact {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .contact img {
    height: 35px;
    width: auto; }
